# Mac hidden -----------------
.AppleDouble
:2e*
/Icon*
.#*
.afpDeleted*

# Editors ----------------------------------
.vscode

# MISC Local data or copies -------------
/__*
__*


###############################################################
