/* @override 
	http://src.dev.lo.lo/OpenWrtTOH/src/www/static/css/demo.css */

/* Layout ------------------------------ */
#demo-page{
	background-color: #f9f9f9;
}

/* Header ------------------------------------------------------------------------------------------------------  */
#toh-header{
	height: 64px;
	background: rgb(0, 163, 225);
	border-bottom: 1px solid #777;
	margin-bottom: 20px;
}

#toh-header-logo{
	float: left;
	margin: 6px 30px 0 26px;
}
#toh-header-logo IMG{
	height:48px;
}
#toh-header-title{
	height: 64px;
}
#toh-header h1 {
	margin: 0;
	line-height: 64px;
	text-align: left;
	font-size: 2em;
	color: #fff;
}

/* Page content ----------------------------------------------------------------------------------------------  */


#demo-intro{
	margin-bottom: 20px;
    font-size: 0.9em;
	text-align: center;
	opacity: 0.7;
}
#demo-toh{
    margin-bottom: 20px;
	padding-top: 15px;
	border: 1px solid #eee;
	border-radius: 6px;
	background: #fff;
}
#demo-info{
    margin-bottom: 50px;
}
.demo-box{
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
	border: 1px solid #eee;
	border-radius: 6px;
	background: #fff;
	font-size: 13px;
}
#demo-foot{
	border-top: 1px solid #ddd;
    font-size: 0.85em;
	padding: 10px 0;
	text-align: center;
	color: #777;
}

body,
#demo-foot {
	background-color: #eee;
}

