/* @override 
	http://src.dev.lo.lo/OpenWrtTOH/src/www/static/css/toh.css */

/* ---------------------------------------------------------- */
#toh-loading{
	font-size: 1.9em;
	top: 6px;
	right: 20px;
	color: #062fed;
	position: absolute;
}

.toh-hidden{
	display: none;
}

/* Top section ------------------------------------------------*/
#toh-top{
    margin-bottom: 10px;
}
.toh-top-block{
	font-size: 13px;
    margin-bottom: 10px;
}
.toh-top-container{
	padding: 8px 10px 5px 25px;
	font-size: 13px;
}
.toh-top-title{
	padding-left: 10px;
	border: 1px solid #ddd;
	border-width: 1px 0 1px 0;
	border-style: solid;	
	background-color: #f5f5f5;
} 
.toh-title{
	padding-right: 10px;
}
.toh-title,
.toh-title A{
	font-size: 13px;
	text-decoration: none;
	color: #000;
}
.toh-title A I{
	margin-right: 5px;
}

/* Top Filters ---------------------------- */
#toh-top-filters{
}

.toh-filters-but-right{
	float: right;
}

.toh-filters{
	margin-bottom: 10px;
}
.toh-filters-subtitle{
	font-size: 12px;
	font-weight: bold;	
	color: #888;
	margin-bottom: 5px;
}
.toh-filters-list{
	padding-left: 10px;
	margin-bottom: 10px;
}
.toh-filters-list-multi {
  column-count: 3;
  column-gap: 2em;
}
@media screen and (max-width: 1100px) {
	.toh-filters-list-multi {
		column-count: 2;
	}
}
@media screen and (max-width: 750px) {
	.toh-filters-list-multi {
		column-count: 1;
	}
}

.toh-filter{
	line-height: 100%;
	padding-bottom: 4px;
}
.toh-filter-feature INPUT{
	margin-right: 5px;
}
.toh-filter-title{
	width: 240px;
	display: inline-block;
	margin-right: 6px;
}
.toh-filter-description{
	color: #555;
	font-size: 12px;
}

#toh-filters-presets A{
	display: block;
	padding: 1px 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #ddd;	
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

#toh-filters-features A{
	font-weight: bold;	
	color: #000;
	text-decoration: none;
}
#toh-filters-features .toh-filter-admin A{
	color: red;
}

#toh-filters-presets .toh-filter-title{
}
#toh-filters-features .toh-filter-title{
	width: 120px
}
#toh-filters-features .toh-filter-title A{
	display: inline-block;
}


/* Top Menus ---------------------------- */

.toh-top-title-presets A{
	display: inline-block;
	padding: 1px 9px;
	text-decoration: none;
	background-color: #fff;	
	border-right: 1px solid #ddd;
}


/* Top Views ---------------------------- */
#toh-views{
	margin-bottom: 10px;
}
#toh-views-title .toh-title{
	border-right: 1px solid #ddd;
}

#toh-views-container{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#toh-views-list UL{
	list-style-type: none;
	padding-left: 15px;
}
.toh-views-list-multi {
  column-count: 6;
  column-gap: 2em;
}
@media screen and (max-width: 1000px) {
	.toh-views-list-multi {
		column-count: 5;
	}
}
@media screen and (max-width: 800px) {
	.toh-views-list-multi {
		column-count: 4;
	}
}
@media screen and (max-width: 680px) {
	.toh-views-list-multi {
		column-count: 3;
	}
}
@media screen and (max-width: 540px) {
	.toh-views-list-multi {
		column-count: 2;
	}
}
.toh-colgroup-title A{
	font-size: 12px;
	font-weight: bold;	
	color: #888;
	text-decoration: none;
}
#toh-views-list A{
	color: #000;
	text-decoration: none;
}
/* Top Buttons ---------------------------- */
#toh-top-buttons{
	text-align: right;
	padding-right: 10px;
	min-height: 22px;
}
A.toh-but{
	display: inline-block;
	margin-left: 10px;
	padding: 1px 5px;
	text-decoration: none;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 11px;
	/* background-color: #eee;	
	color: #000; */
}
A.toh-but:hover{
	/* background-color: #555;	
	color: #fff; */

}

/* Cells Formatters ------------------------------------------- */
#toh-table .tabulator-cell .fa-question.dash{
	opacity: 0.5;
}
#toh-table .tabulator-cell .fa-question.empty{
	opacity: 0.2;
}
#toh-table .tabulator-cell .fa-question.unknown{
	opacity: 0.5;
	color: red;
}
#toh-table .tabulator-cell .cell-image I.generic{
	opacity: 0.5;
}

/* Image Preview ---------------------------------------------- */
#toh-image-preview {
	position: absolute;
    display: none;
    z-index: 1000;
    border: 1px solid #ccc;
	background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#toh-image-preview img {
    max-width: 300px;
    max-height: 300px;
    display: block;
}

/* Table ------------------------------------------------------ */
#toh-table.tabulator {
	font-size: 12px;
}
#toh-table .tabulator-tableholder {
	background-color: #f5f5f5;
}


/* Table column headers --------------------------------------- */
#toh-table .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {	
	text-overflow: clip ;
	font-size: 12px;
}
#toh-table .tabulator-header-filter {
	padding-left: 15px;
	margin-top: 5px;
}
#toh-table .tabulator-header-filter INPUT {
	font-size: 11px;
	line-height: 12px;
	padding: 2px !important;
}
#toh-table .tabulator-header .tabulator-col-sorter {
	display: block;
	position: absolute;
	top: 30px;
	left: -2px;
	z-index: 1000;
}

/* Header filter */
#toh-table .tabulator-header-filter INPUT:focus {
  left: 0;
  z-index: 9999;
  background-color: #ddf;
}

/* Cell Popup Details ------------------------------------------- */  
.tabulator-popup-container{
	border-color: #ccc ;
	padding: 0;
	width: auto !important;
	height: auto !important;
	max-width: 500px !important;
}
.toh-popup-details-table{
	width: 100%;
	border-spacing : 0;
	border-collapse : collapse;
}
.toh-popup-details-table TD{
	padding: 1px 5px;
	font-size: 12px;
	border-bottom: 2px solid #fff;
}
.toh-popup-details-table .toh-popup-group-tr TD{
	color: #999;
}
.toh-popup-details-table .toh-popup-key{
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0;
	text-align: right;
	text-wrap: nowrap;
}
.toh-popup-details-table .toh-popup-value{
	word-break: break-all;
}

/* Colors ------------------------------------------- */  
.toh-top-title-presets A{
	color: #888;
}
.toh-top-title-presets A:hover{
	background-color: #aaa;
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0.6),
		rgba(255,255,255, 0)
	), #aaa;
	color: #000;
}
.toh-top-title-presets A.selected{
	background-color: #558;
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0.5),
		rgba(255,255,255, 0)
	), #558;
	color: #fff;
}
.toh-top-title-presets A.toh-view-custom.selected{
	background-color: #448;
}


A.toh-but{
	background-color: #eee;
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0.9),
		rgba(255,255,255, 0)
	), #ddd;
	color: #000;
}


/* filtered cols */
#toh-table .tabulator-col.toh-col-filtered{
}

#toh-table .tabulator-col.toh-col-filter,
#toh-filters-presets A,
A.toh-but-clearfilters{
	background-color: #cfc;
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0.8),
		rgba(255,255,255, 0)
	), #ada;
}
#toh-table .tabulator-header-filter INPUT{
	background-color: #eef;	
}
#toh-table .tabulator-col.toh-col-headerfilter,
A.toh-but-clearheaderfilters{
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0.8),
		rgba(255,255,255, 0)
	), #cce;
}
#toh-table .tabulator-col.toh-col-allfilter,
A.toh-but-clearallfilters{
	background-color: #8fd;	
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0.8),
		rgba(255,255,255, 0)
	), #6db;
}

A.toh-but:hover,
#toh-filters-presets A:hover{
	background-color: #000;	
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0.6),
		rgba(255,255,255, 0)
	), #222;
	border-color: #000;
	color: #fff;
}


#toh-filters-presets A:hover{
	/* background-color: #555;	
	background: linear-gradient(to bottom, 
		rgba(255,255,255, 0),
		rgba(255,255,255, 0.3)
	), #555;
	color: #fff; */
}


