/* @override 
	http://src.dev.lo.lo/OpenWrtTOH/src/www/static/css/toh.css */

#toh-top{
    margin-bottom: 10px;
}

#toh-loading{
	font-size: 1.9em;
	top: 6px;
	right: 20px;
	color: #062fed;
	position: absolute;
}

.toh-hidden{
	display: none;
}

#toh-view-columns{
	padding: 5px;
	font-size: 13px;
}
#toh-view-columns UL{
	list-style-type: none;
	padding-left: 15px;
}
.toh-view-columns-multi {
  column-count: 6;
  column-gap: 2em;
}
.toh-colgroup{

}
.toh-colgroup-title{
	font-size: 0.9em;
	font-weight: bold;
}
.toh-colgroup-title A{
	text-decoration: none;
}
#toh-table .tabulator-cell .fa-question.dash{
	opacity: 0.5;
}
#toh-table .tabulator-cell .fa-question.empty{
	opacity: 0.2;
}
#toh-table .tabulator-cell .fa-question.unknown{
	opacity: 0.5;
	color: red;
}
#toh-table .tabulator-cell .cell-image I.generic{
	opacity: 0.5;
}
#toh-image-preview {
	position: absolute;
    display: none;
    z-index: 1000;
    border: 1px solid #ccc;
	background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#toh-image-preview img {
    max-width: 300px;
    max-height: 300px;
    display: block;
}
#toh-table.tabulator {
	font-size: 12px;
}
#toh-table .tabulator-tableholder {
	background-color: #f5f5f5;
}
#toh-table .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {	
	text-overflow: clip ;
	font-size: 12px;
}
#toh-table .tabulator-header-filter {
	padding-left: 15px;
	margin-top: 5px;
}
#toh-table .tabulator-header-filter INPUT {
	font-size: 11px;
	line-height: 12px;
	padding: 2px !important;
}
#toh-table .tabulator-header .tabulator-col-sorter {
	display: block;
	position: absolute;
	top: 30px;
	left: -2px;
	z-index: 1000;
}
/* Cell Popup Details ------------- */  
.tabulator-popup-container{
	border-color: #ccc ;
	padding: 0;
	width: auto !important;
	height: auto !important;
	max-width: 500px !important;
}
.toh-popup-details-table{
	width: 100%;
	border-spacing : 0;
	border-collapse : collapse;
}
.toh-popup-details-table TD{
	padding: 1px 5px;
	font-size: 12px;
	border-bottom: 2px solid #fff;
}
.toh-popup-details-table .toh-popup-group-tr TD{
	color: #999;
}
.toh-popup-details-table .toh-popup-key{
	vertical-align: top;
	font-weight: bold;
	background-color: #f0f0f0;
	text-align: right;
	text-wrap: nowrap;
}
.toh-popup-details-table .toh-popup-value{
	word-break: break-all;
}
/* Header filters ---------------------------- */

#toh-table .tabulator-header-filter INPUT:focus {
  left: 0;
  z-index: 9999;
  background-color: #eef;
}

